.root {
    -fx-background-color: #333;
}

.menu-label .text {
    -fx-fill: #aaa;
}

.button {
    -fx-text-fill: #fafafa;
}

.menu-label .text, .button .text {
    -fx-font-family: "GOST Type B";
    -fx-font-size: 24;
}

.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: WHITE;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: #fafafa;
    -fx-highlight-fill: GRAY;
    -fx-font-size: 24;
    -fx-font-family: "GOST Type B";
}

.color-picker, .button {
    -fx-background-color: #444;
    -fx-background-insets: 0;
}

.color-picker .text {
    visibility: hidden;
}

.color-picker .picker-color-rect {
    -fx-scale-x: 1.75;
    -fx-scale-y: 1.75;
    -fx-translate-x: 3;
}

.color-picker:hover, .button:hover {
    -fx-background-color: #555;
}

.player1-name .text, .player2-name .text {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.player1-name .text {
    -fx-stroke: BLACK;
    -fx-stroke-type: OUTSIDE;
}

.player2-name .text {
    -fx-stroke: BLACK;
    -fx-stroke-type: OUTSIDE;
}

.score1, .score2 {
    -fx-background-color: WHITE;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: LIGHTGRAY;
    -fx-border-insets: -1;
    -fx-border-width: 3;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-alignment: CENTER;
}

.score1 .text, .score2 .text {
    -fx-fill: BLACK;
    -fx-font-family: "System";
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: GRAY;
}

.title .text {
    -fx-fill: #fafafa;
    -fx-font-family: "GOST Type BU";
    -fx-font-smoothing-type: GRAY;
    -fx-font-size: 72;
}