.player1-name .text, .player2-name .text {
    -fx-font-weight: bold;
    -fx-font-size: 24;
   }

.player1-name .text {
    -fx-stroke: BLACK;
    -fx-stroke-type: OUTSIDE;
}

.player2-name .text {
    -fx-stroke: BLACK;
    -fx-stroke-type: OUTSIDE;
}

.score1, .score2 {
    -fx-background-color: WHITE;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: LIGHTGRAY;
    -fx-border-insets: -1;
    -fx-border-width: 3;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-alignment: CENTER;
}

.score1 .text, .score2 .text {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-smoothing-type: GRAY;
}